<?xml version="1.0" encoding="utf-8" ?>
<menu>
	<item iconWidth="18" iconHeight="18" title="Game">
		<item icon="RoomsList.gif" title="Processes" href="../Games/GameProcessMaintenance.aspx" />
		<item icon="RoomsList.gif" title="Mini-Tourneys" href="../Games/GameProcessMaintenance.aspx?mini=1" />
		<item icon="TournamentList.gif" title="Tournaments" href="../Tournaments/TournamentMaintenance.aspx" />
		<item icon="TournamentList.gif" title="Sit And Go" href="../Tournaments/TournamentMaintenance.aspx?type=2" />
		<separator />
		<item title="Bots" href="../Games/Bots.aspx" />
		<item title="Chat for Bots" href="../Games/ChatforBots.aspx" />
	</item>
	<item title="Accounts">
		<item icon="Users.gif" title="Users" href="../Users/UsersMaintenance.aspx" />
		<item icon="Add_user.gif" title="Add User" href="../Users/UserDetails.aspx" />
	</item>
	<item title="History">
		<item icon="Transactions.gif" title="Transactions" href="../Transactions/TxHistoryList.aspx" />
		<item icon="gamehistory.gif" title="Games" href="../Transactions/GameHistoryList.aspx" />
		<item icon="UserHistory.gif" title="User Game" href="../Transactions/GameHistoryUserList.aspx" />
		<item title="Live Stats" href="../Support/LiveStats.aspx" />
	</item>
	<item title="Affiliates">
		<item icon="affiliate.gif" title="Skins List" href="../Affiliate/SkinsMaintenance.aspx" />
		<item icon="affiliate.gif" title="Affiliate List" href="../Affiliate/AffiliateMaintenance.aspx" />
		<item icon="fileList.gif" title="Client Application Files" href="../Misc/ClientApplicationFile.aspx" /> 
	</item>
	<item title="Misc">
		<item icon="pokerCategory.gif" title="Category List" href="../Categories/SubCategoryMaintenance.aspx" />
		<item icon="games.gif" title="Games" href="../Games/GameMaintenance.aspx" />
		<item icon="options.gif" title="Options" href="../Misc/Options.aspx" /> 
		<item icon="tournamentPrize.gif" title="Tournament prize templates" href="../Tournaments/TournamentPrizeMaintenance.aspx" /> 
		<item icon="tournamentPrize.gif" title="Tournament betings templates" href="../Tournaments/TournamentBettingsMaintenance.aspx" /> 
		<item icon="email_templates.gif" title="Email templates" href="../EmailTemplates/EmailTemplateMaintenance.aspx" /> 
		<item icon="ip.gif" title="Allowed IP" href="../Misc/AllowedIP.aspx" /> 
		<item icon="fileList.gif" title="Bonus Rules" href="../Misc/BonusRules.aspx" /> 
		<item icon="games.gif" title="Play Period" href="../Misc/ClosePlayPeriod.aspx" /> 
		<item  title="Table Name" href="../Misc/TableName.aspx" /> 
		<item  title="Ban Players" href="../Misc/BanUser.aspx" /> 
		<item  title="Avatars" href="../Misc/Avatars.aspx" /> 
		<item  title="Action Dispatchers" href="../Misc/ActionDispatchers.aspx" /> 
		<item  title="Pushing Content" href="../Misc/PushingContent.aspx" /> 
		<item  title="Forced Exits" href="../Misc/ForcedExits.aspx" /> 
	</item>
	<item title="Reports">
		<item icon="Reports.gif" title="Main" href="../Reports/Reports.aspx" />
		<item icon="Reports.gif" title="Report User" href="../Reports/ReportUser.aspx" />
		<item icon="affiliate.gif" title="Affiliate Reports" href="../Affiliate/AffiliateReport.aspx" />
		<item icon="email_templates.gif" title="Sent Emails" href="../SentEmail/SentEmail.aspx" /> 
		<item title="Search Finished Tournaments" href="../Reports/SearchFinishedTournaments.aspx" /> 
	</item>
	   <item title="Support">
		<item icon="customerSupport.gif" title="Customer request list" href="../Support/SupportMaintenance.aspx" />
		<item title="Mass Mailer" href="../Support/MassMailer.aspx" />
	   </item>
           <item title="Logout" href="../logout.aspx" />
</menu>
