#foldheader{cursor:pointer;cursor:hand ; FONT:8pt Tahoma; color:#666666;
list-style-image:url(../themes/plusik_L.gif)}
#foldinglist{list-style-image:url(../themes/hr_L.gif)}
A{
	FONT: 8pt Tahoma;
	COLOR: #666666;
	TEXT-DECORATION___: none;
}