body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
td {
	font-family: tahoma;
	font-size: 11px;
	color: #6D6D6D;
}
.td {
	padding-left: 5px;
	text-align: left;
}

.title {
	font-family: Arial;
	font-size: 14px;
	color: #FFFFFF;
	text-align: left;
	font-weight: bold;
	padding-left: 10px;
}
