<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UrlGamePlayTmpFolder" value="http://127.0.0.1/PokerClientFiles" />
    <add key="UrlGamePlayFileMovie" value="http://127.0.0.1/PokerClientFiles/Aff_1/PokerExl.swf" />
    <add key="DatabaseConnectionString" value="Server=127.0.0.1;Database=Poker;User ID=Poker;Password=Poker"/>
    <add key="ErrorLogFile" value="d:\Poker\Logs\PokerAdmin\DesktopAdmin.log" />
    <add key="LogPath" value="d:\Poker\Logs\PokerAdmin" />
    <add key="LogSeverity" value="1" />
    <add key="ChartHeight" value="300" />
    <add key="ChartDataFilesPath" value="d:\Poker\Logs\ChartData" />
    <add key="DataRefreshInterval" value="10" />
    <add key="WatchServiceName" value="ServiceDataModule" />
    <add key="UsersChartDataMaxCount" value="100" />
    <add key="AssynchonousTimeoutServices" value="10" />
    <add key="AssynchonousTimeoutSQL" value="30" />
    <add key="LaunchMonitorAtStart" value="True" />
    <add key="PanelAsWindow" value="False" />
    <add key="DefaultGameEngineID" value="3" />
    <add key="WebServiceUrl" value="http://127.0.0.1/PokerWebService"/>
    <add key="WebService" value="PokerService.asmx"></add> 
    <add key="TemporaryFolder" value="" />
    <add key="CommandAnswerTimeout" value="5" />
    <add key="FileEmailTemplateUrl"  value="http://127.0.0.1/PokerClientFiles/EmailTemplates"></add>
    <add key="PlayPeriodReportDLL"  value="d:\sources\games\admin_tools\PlayPeriodReport\bin\PlayPeriodReport.dll"></add> 
    <add key="PlayPeriodReportClass"  value="PlayPeriodReport.wntReport"></add> 
    <add key="ReportOutput" value=""></add>
  </appSettings>
</configuration>
